* {
	margin: 0;
	padding: 0;
	list-style: none;
	/* font-family: 'Roboto'; */
}

.container {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.bloco {

	background-color: white;
	border-radius: 20px;
	min-width: 750px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.bloco1 {

	border: 2px solid #054f77;
}

.bloco::before {

	content: "";
	position: absolute;
	background-color: #054f77;
	width: 45%;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.bloco1 {

	display: flex;
}

.bloco1 .coluna2 {

	z-index: 12;
}

.coluna1 {

	text-align: center;
	width: 45%;
	z-index: 10;
}

.coluna2 {

	text-align: center;
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lista-redes {

	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 5px;
}

.form {

	display: flex;
	flex-direction: column;
	width: 55%;
	align-self: center;
}

.caixa {

	border: none;
	border-right: 1px solid #054f77;
	border-radius: 5px;
	background-color: white;
	height: 45px;
	width: 100%;
	padding-left: 5px;
	outline: none;
}

.fyps {

	text-decoration: none;
	color: #4682b4;
	transition: .25s;
	border: none;
	background-color: white;
	cursor: pointer;
	font-size: 15px;
}

.fyps:hover {

	text-decoration: underline;
}

.titulo {

	font-size: 28px;
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: normal;
}

.margin {

	margin-bottom: 40px;
}

.bem {

	color: white;
}

.crie {

	color: #333;
}

.descricao {

	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #333;
}

.descricao1 {

	color: white;

}

.descricao2 {

	color: #333;
}

.se {

	margin-top: 10px;
}

.btn {

	border-radius: 14px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 10px;
	cursor: pointer;
	color: white;
	text-align: center;
	text-align-last: center;
	align-self: center;
	font-size: 13px;
}

.img2 {

	background: transparent;
	color: white;
	border: 1px solid white;
	margin-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	transition: .55s;
}

.img1 {

	width: 150px;
	background-color: #054f77;
	border: solid white;
	color: white;
	margin-top: 25px;
	transition: .55s;
}

.label {

	background-color: white;
	display: flex;
	align-items: center;
	margin: 8px;
	border: 1px solid #054f77;
	border-right: none;
	border-radius: 5px;
}

.icone {

	color: #333;
	padding-left: 15px;
	padding-right: 5px;
}

/* segunda parte */


.bloco2 {

	position: absolute;
	display: flex;
}

.bloco2 .coluna1 {

	order: 2;
	z-index: -1;
}

.bloco2 .coluna2 {

	order: 1;
	z-index: -1;
}

.ola {

	color: white;
}

/* transicao */


.signin-js .bloco1 .coluna1,
.signin-js .bloco1 .coluna2 {

	z-index: -1;
}

.signin-js .bloco2 .coluna1 {

	z-index: 13;
}

.signin-js .bloco2 .coluna2 {

	z-index: 11;
}

.signin-js .bloco::before {

	left: 55%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	animation: slidein .25s;
	z-index: 12;
}

.signup-js .bloco::before {

	animation: slideup .25s;
	z-index: 12;
}

.signup-js .bloco2 .coluna1,
.signup-js .bloco2 .coluna2 {

	z-index: -1;
}

.signup-js .bloco1 .coluna1 {

	z-index: 13;
}

.signup-js .bloco1 .coluna2 {

	z-index: 11;
}

/* animacao */

@keyframes slidein {

	from {
		
		left: 0;
		width: 45%;
	}


	to {
		left: 55%;
		width: 45%;
	}
}

@keyframes slideup {

	from {

		left: 55%;
		width: 45%;
	}

	to {
		left: 0;
		width: 45%;
	}
}